<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back-outline" class ="atras" (click) ="volver()" color="secondary"></ion-icon>
    <ion-icon *ngIf="!buscarRecurso" name="search-outline" class="buscar" (click) ="buscar()" color="secondary"></ion-icon>
    <ion-icon *ngIf="buscarRecurso" name="close-outline" class="buscar" (click) ="desbuscar()" color="secondary"></ion-icon>
    <ion-title><small>{{ curso.nombre }}</small></ion-title>
  </ion-toolbar>
  <ion-searchbar #searchBar *ngIf="buscarRecurso" placeholder="Referencia del recurso" (ionInput)="accionBusqueda(searchBar.value)" inputmode="search" autocorrect="off" autocomplite="off" animated></ion-searchbar>
</ion-header>

<ion-content>
  <div *ngIf="spinner" id="contenedorSpinner">
    <ion-item color="primary" class="botones">
      <ion-spinner color="secondary" name="crescent"></ion-spinner>
    </ion-item>
  </div>
  <div *ngIf="!spinner" id="contenedor" style="opacity: 0.9;">
    <div *ngFor="let modalidad of modalidades" class="botones">
      <ion-item *ngIf="modalidad.id == this.modalidades[0].id; else otroColor" color="primary" class="botones" (click) ="seleccionModalidad(modalidad.id)">
        <ion-label>{{modalidad.nombre}}</ion-label>
      </ion-item>
      <ng-template #otroColor class="botones">
        <ion-item color="secondary" class="botones" (click) ="seleccionModalidad(modalidad.id)">
          <ion-label>{{modalidad.nombre}}</ion-label>
        </ion-item>
      </ng-template>
    </div>
  </div>
</ion-content>
